@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-surface-active: var(--surface-active);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-footer: var(--footer);
  --color-footer-foreground: var(--footer-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  /* Light Mode */
  --background: #ffffff;
  --foreground: #020617;
  /* slate-950 */

  --primary: #135bec;
  --primary-foreground: #ffffff;

  --surface: #f8fafc;
  /* slate-50 */
  --surface-hover: #f1f5f9;
  /* slate-100 */
  --surface-active: #e2e8f0;
  /* slate-200 */

  --border: #e2e8f0;
  /* slate-200 */
  --input: #ffffff;

  --footer: #f8fafc;
  /* slate-50 */
  --footer-foreground: #64748b;
  /* slate-500 */

  --muted: #f1f5f9;
  /* slate-100 */
  --muted-foreground: #64748b;
  /* slate-500 */
}

.dark {
  /* Dark Mode */
  --background: #111318;
  --foreground: #f8fafc;
  /* slate-50 */

  --primary: #135bec;
  --primary-foreground: #ffffff;

  --surface: #1c1f27;
  --surface-hover: #282e39;
  --surface-active: #394457;

  --border: #3b4354;
  --input: #1c1f27;

  --footer: #343a40;
  --footer-foreground: #aaaaaa;

  --muted: #1e293b;
  /* slate-800 */
  --muted-foreground: #94a3b8;
  /* slate-400 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
